/* fonts */

 @font-face {
    font-family: 'open_sans_hebrewbold';
    src: url('../fonts/opensanshebrew-bold-webfont.woff2') format('woff2'), url('../fonts/opensanshebrew-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_hebrewbold_italic';
    src: url('../fonts/opensanshebrew-bolditalic-webfont.woff2') format('woff2'), url('../fonts/opensanshebrew-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_hebrewextra_bold';
    src: url('../fonts/opensanshebrew-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensanshebrew-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_hebrewXBdIt';
    src: url('../fonts/opensanshebrew-extrabolditalic-webfont.woff2') format('woff2'), url('../fonts/opensanshebrew-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_hebrewitalic';
    src: url('../fonts/opensanshebrew-italic-webfont.woff2') format('woff2'), url('../fonts/opensanshebrew-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_hebrewlight';
    src: url('../fonts/opensanshebrew-light-webfont.woff2') format('woff2'), url('../fonts/opensanshebrew-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_hebrewlight_italic';
    src: url('../fonts/opensanshebrew-lightitalic-webfont.woff2') format('woff2'), url('../fonts/opensanshebrew-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_hebrewregular';
    src: url('../fonts/opensanshebrew-regular-webfont.woff2') format('woff2'), url('../fonts/opensanshebrew-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 


/* fonts */
/*
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-LightItalic.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-LightItalic.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-LightItalic.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-LightItalic.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Italic.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Italic.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Italic.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Italic.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Regular.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Bold.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-LightItalic.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-LightItalic.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-LightItalic.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-LightItalic.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Light.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Light.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Italic.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Italic.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Italic.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Italic.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Regular.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-BoldItalic.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-BoldItalic.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-BoldItalic.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-BoldItalic.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Bold.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: italic;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBoldItalic.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBoldItalic.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBoldItalic.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBoldItalic.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBold.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBold.ttf) format('truetype');
}*/


/* reset css starts here */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    direction: rtl!important;
}

body {
    line-height: 1;
    font-family: 'open_sans_hebrewregular', sans-serif;
    overflow-x: hidden;
    position: relative;
    color: #333;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.d-f {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.d-i-f {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.f-d-c {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.f-d-r-r {
	-webkit-box-orient: horizontal;-webkit-box-direction: reverse;-webkit-flex-direction: row-reverse;-ms-flex-direction: row-reverse;flex-direction: row-reverse;
}
.a-i-c {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.a-i-f-e {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.a-i-f-s {
	-webkit-box-align: start;-webkit-align-items: flex-start;-ms-flex-align: start;align-items: flex-start;
}
.j-c-c {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.j-c-s-b {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.j-c-f-e {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.j-c-s-e {
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

a,
span {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

a,
.main-button {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

a:hover,
a:focus,
button:focus {
    text-decoration: none;
    outline: none;
    color: #333;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

::-webkit-input-placeholder {
    color: #9c9c9c!important;
    opacity: 1;
    font-size: 20px;
}

::-moz-placeholder {
    color: #9c9c9c!important;
    opacity: 1;
    font-size: 20px;
}

:-ms-input-placeholder {
    color: #9c9c9c!important;
    opacity: 1;
    font-size: 20px;
}

::-ms-input-placeholder {
    color: #9c9c9c!important;
    opacity: 1;
    font-size: 20px;
}

::placeholder {
    color: #9c9c9c!important;
    opacity: 1;
    font-size: 20px;
}

form label {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    margin-bottom: 0;
}

img {
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.dropdown-menu {
    -webkit-border-radius: 0;
    border-radius: 0;
    min-width: 100px;
}

.owl-carousel .item {
    position: relative;
}

.main-button {
    color: #fff;
    border: 0;
    padding: 15px 20px!important;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    display: inline-block!important;
    background-color: #5eced0!important;
    border-radius: 5px;
	font-family: 'Open Sans Hebrew';
	min-width: 150px;
	font-weight: 500;
}

.main-button i {
    float: right;
}

.account .main-button {
    padding: 11px 38px;
    font-size: 15px;
    min-width: initial;
}

.account .main-button.button-bordered {
    padding: 9px 34px;
}

.main-button:hover,
.main-button:focus {
    background-color: #26b0b3;
    color: #fff;
    outline: none;
}

.main-button.button-bordered {
    border: 2px solid #ad0a1f;
    color: #ad0a1f;
    background-color: #fff;
}

.main-button.button-bordered:hover,
.main-button.button-bordered:focus {
    color: #fff;
    background-color: #ad0a1f;
}

form input.form-control:not([type="checkbox"]):not([type="radio"]),
textarea.form-control {
    padding: 5px 15px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    outline: none;
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 20px;
    color: #9c9c9c;
	direction: ltr;
	height: 48px;
	border: 1px solid #5dced0;
	padding-left: 50px;
	max-width: 220px;
}

form input.form-control:focus,
textarea.form-control:focus {
    border-color: #dfdfdf;
    outline: none;
}

textarea.form-control {
    min-height: 145px;
    resize: none;
}

.banner form input.form-control,
.banner form input.form-control:focus {
    border-color: #fff;
}

p {
    font-size: 21px;
    line-height: 38px;
    color: #7d7d7d;
    line-height: 1.8;
}

.row::before,
.row::after {
    display: none;
}

section::after {
    content: "";
    display: table;
    clear: both;
}
.form-group {
	position: relative;
}

/* reset css ends here */


/* main css starts here */

.navbar {
    margin: 0;
    min-height: initial;
}
.navbar-brand {
    margin: 0!important;
    padding: 0;
    height: 100%;/* new css*/
    line-height: normal;
	max-width: 155px;
	max-height: 105px;
	width: 100%;/* new css*/
}
.navbar-nav>li>a {
    color: #46b3b5;
    font-size: 19px;
    padding: 0;
    position: relative;
}

.navbar-nav>li>a::before {
    content: "|";
    position: absolute;
    color: #46b3b5;
    left: -20px;
    top: 0;
}
.navbar-nav>li + li {
	margin-right: 30px;
}
.navbar-nav>li:last-child a::before {
	display: none;
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus,
.navbar-nav>li.active>a,
.navbar-nav>li.active>a:hover,
.navbar-nav>li.active>a:focus {
	color: #d87e00;
	background-color: transparent;
}
header {
    padding: 5px 0 0;/* new css */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
}
.banner-content {
    text-align: center;
	max-width: 660px;
	margin: 0 auto;
	padding: 160px 0 200px;
}
h1 {
    font-size: 40px;
    color: #5dced0;
    max-width: 460px;/* new css */
    margin: 0 auto;
    line-height: 1;
	font-weight: bold;
}

h4 {
    font-size: 20px;
    color: #5dced0;
    line-height: 1.2;
}
.banner-content h1 {
    margin-bottom: 25px;
}

.banner-content h4 {
    margin-bottom: 30px;
}
.button-big {
	border: 4px solid #f0f0f0;
	box-shadow: 3px 3px 24px rgba(0,0,0,0.29);
	font-size: 21px;
    padding: 25px 20px;
    border-radius: 12px;
    position: relative;
}
.button-big:hover,
.button-big:focus {
	box-shadow: 3px 3px 24px rgba(0,0,0,0.29);
}
.button-dark {
    background-color: #328789;
}
.button-dark:hover,
.button-dark:focus {
	background-color: #006c6f;
}
.button-orange {
    background-color: #d87e00;
}
.button-orange:hover,
.button-orange:focus {
    background-color: #af6600;
}
.banner-play-button {
    width: 65px;
    height: 65px;
    background-color: #464646;
    border-radius: 100px;
    border: 5px solid #f0f0f0;
	margin: 20px 0;
}
.banner {
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	margin-bottom: -200px;
}
.banner-buttons a + a {
    margin-right: 20px;
}
.button-yellow {
    background-color: #f4de23;
    color: #000;
    position: absolute;
    top: 100px/* new css */;
    left: 15px;
    max-width: 158px;
    line-height: 1.2;
}
.button-yellow:hover,
.button-yellow:focus {
	background-color: #d8c100;
	color: #000;
}
.navbar-right {
    margin: 0;
}
.navbar-header {
	margin: 0!important;
	margin-left: auto!important;
}
.navbar-collapse {
	margin: 0 auto!important;
}
.navbar-button {
	margin-right: auto;
}
.heading-container {
	text-align: center;
	z-index: 1;/* new css */
	position: relative;
}

.heading-container h2 {
    font-size: 32px;/* new css */
    color: #fff;
	display: inline-block;
    position: relative;
	font-weight: bold;
}

.heading-container img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.heading-container h2::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: rgba(240, 240, 240, 0.8);
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}
.steps-icon {
    width: 210px;
    height: 210px;
    border-radius: 100%;
    border: 8px solid #fff;
    box-shadow: 0 3px 7px rgba(0,0,0,0.35);
    background-image: linear-gradient(#39989a, #6ae2e4);
    position: absolute;
    top: -180px;
    left: 50%;
    transform: translateX(-50%);
}

.steps-container {
    position: relative;
    padding: 50px 50px 30px;
    box-shadow: 0 0 11px rgba(0,0,0,0.05);
    border-radius: 10px;
    text-align: center;
	background-color: #fff;
	height: 100%;
}

h3 {font-size: 24px;color: #898989;display: inline-block;}

.steps-text h3 {
    margin-bottom: 70px;
    position: relative;
	margin-top: 5px;
	font-weight: bold;/* new css */
}

.steps-text h3::after {
    position: absolute;
    content: "";
    width: 110px;
    height: 1px;
    background-color: #5dced0;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}
.steps-container::before {
    content: "";
    position: absolute;
    background-image: url(../images/steps-angle.png);
    width: 70px;
    height: 60px;
    left: -45px;
    top: -40px;
    background-size: contain;
	background-repeat: no-repeat;
}
.service-steps .col-sm-3:last-child .steps-container::before {
    display: none;
}
.banner-buttons .button-orange span {
    position: absolute;
    right: 0;
    top: 0;
    width: 105px;
    height: 105px;
    border: 4px solid #fff;
    border-radius: 100%;
    background-color: #d87e00;
    transform: translate(50%, -17px);
	box-shadow: 0 0 24px rgba(0,0,0,0.3);
	-webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.banner-buttons .button-orange:hover span {
	background-color: #af6600;
}
.banner-buttons .button-orange {
	padding-right: 65px;
}
.service-steps-content {
	max-width: 1600px;
	margin: 0 auto;
    margin-top: 200px;
}
.purchase {
    background-color: #5eced0;
    padding: 50px 0 40px;
}
.purchase .heading-container h2::after {
    display: none;
}

.purchase-content p {
    max-width: 600px;
    text-align: center;
    margin: 25px auto 40px;
    line-height: 1.2;
    color: #fff;
}

.purchase-content {
    text-align: center;
}
.service-steps {
    margin-bottom: -30px;
}
.purchase-content .banner-buttons a {
    right: 20px;
}
.heading-container.blue h2::after {
	background-color: rgba(93, 206, 208, 0.2);
}
.heading-container.blue h2 {
    color: rgb(93, 206, 208);
}
.report .heading-container {
	display: inline-block;
	margin-left: auto;
	margin-bottom: 50px;
}
.report {
    padding: 40px 0;
}
.report-text h3,
.algorithm-container h3 {
    color: #5dced0;
	margin-bottom: 15px;
}
.algorithm-container h3 {
	margin: 0;
	color: #40afb2/* new css */
}
.algorithm-container p {
	line-height: 1.1;
}
.report-text p {
	line-height: 1.1;
	max-width: 600px;
	margin-left: auto;
}
.report-text {
    text-align: right;
    direction: ltr;
}
.main-button img {
	vertical-align: middle;
}
.report-text .main-button {
	margin-top: 30px;
}
.report-image {
	position: relative;
}
.report-zoom-in {
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    height: 55px;
    background-color: #4bb7b9;
    border-radius: 100%;
    border: 1px solid #fff;
    transform: translate(40%, -40%);
}
.algorithm {
    background-image: linear-gradient(to bottom, #f0f0f0, #7ec4c6);
    padding: 15px 0;
	padding-bottom: 240px;
	position: relative;
}
.main-button > img {
    margin-right: 15px;
}
.algorithm-row {
    margin-top: 40px;
}

.algorithm-container {
    max-width: 310px;
    text-align: center;
}
.algorithm-content {
    position: relative;
}

.algorithm-image {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    max-width: 400px;
}

.algorithm-row + .algorithm-row {
    margin-top: 80px;
}
.algorithm::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/algorithm-after.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 10.2vw;
    width: 100%;
}
.algorithm-separator {
    position: absolute;
    top: calc(50% - 10px);
    left: -5px;
    right: 0;
    max-width: 64vw;
    margin: 0 auto;
}

.algorithm-separator::before, .algorithm-separator::after {
    position: absolute;
    left: 0;
    top: -6px;
    width: 5px;
    height: 30px;
    background-color: #5dced0;
    content: "";
    border-radius: 20px;
}
.algorithm-separator::after {
	left: auto;
	right: 0;
}
.testimonials {
    background-color: #f0f0f0;
    padding: 40px 0 60px;
}
.testimonials-image {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: 5px solid #5dced0;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
	background-color: #fff;
}

.testimonials-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials-container {
    border: 1px solid #5dced0;
    border-radius: 5px;
    position: relative;
    margin-top: 40px;
    background-color: #fff;
    text-align: center;
    padding: 60px 20px;
	height: calc(100% - 25px);
}

.owl-testimonials {
    margin-top: 60px;
}

.testimonials-text h5 {
    color: #959595;
    font-size: 16px;
}

.testimonials-text p {
    line-height: 1.1;
}

.testimonials-text p:first-of-type {
    margin-bottom: 30px;
}
.testimonials-text p:last-of-type {
    text-align: right;
    position: relative;
}
.owl-testimonials .item {
    padding: 15px;
}
.testimonials-text p:last-of-type::before,
.testimonials-text p:last-of-type::after {
    content: "";
    position: absolute;
    width: 19px;
    height: 12px;
    background-image: url(../images/opening-quotes.png);
    top: -20px;
    right: 0;
}
.testimonials-text p:last-of-type::after {
	top: auto;
	bottom: -20px;
	right: auto;
	left: 0;
	background-image: url(../images/closing-quotes.png);
}
.savings {
	background-image: url(../images/savings-background.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
.choose-us {
    background-color: #f0efef;
    padding: 40px 0;
	padding-bottom: 185px;
}
.owl-choose-us {
    margin-top: 70px;
}
.owl-carousel .choose-us-container img {
    width: auto;
    height: auto;
}
footer .created-by {
    width: 100%;
    flex: 0 0 100%;
    text-align: center;
	background-color: #fff;
	padding: 5px 0;
}

footer .created-by p {direction: ltr;font-size: 14px;}

footer .created-by img:first-of-type/*new css */ {
    position: relative;
    top: 5px;
}

footer .created-by span {
    font-size: 18px;
	font-weight: bold;/* new css */
}
footer {
    position: relative;
    background-color: #60cecf;
}
footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: -145px;
    width: 100%;
    background-image: url(../images/footer-before.png);
    background-repeat: repeat;
    background-position: top;
    height: 145px;
}
.copyright-container p {
    color: #bfeeee;
    font-size: 16px;
}
.footer-content {
    padding: 40px 0 20px;
}
.footer-nav ul li + li {
    margin-right: 25px;
}

.footer-nav a {
    color: #bfeeee;
    position: relative;
}
.footer-nav a:hover,
.footer-nav a:focus {
	color: #fff;
}

.footer-nav a::before {
    content: "|";
    position: absolute;
    right: -17px;
    top: 0;
}

.footer-nav ul li:first-child a::before {
    display: none;
}
.qna-question-left,
.qna-answer-right {
    width: 70px;
	flex: 0 0 70px;
	max-width: 70px;
    text-align: center;
    color: #fff;
    padding: 10px;
	background-image: url(../images/question-background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
	cursor: pointer;
}
.qna-answer-right {
	background-image: url(../images/answer-background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left center;
	color: #5dced0;
}
.qna-question-center,
.qna-answer-left {
    width: calc(100% - 110px);
	flex: 0 0 calc(100% - 110px);
    color: #5dced0;
	padding-left: 10px;
}
.qna-answer-left {
    width: calc(100% - 70px);
	flex: 0 0 calc(100% - 70px);
	color: #fff;
	padding: 0 10px;
}
.qna-question-right {
    width: 40px;
	flex: 0 0 40px;
    font-size: 30px;
    color: #5dced0;
}
.qna-container {
    border-radius: 5px;
    overflow: hidden;
	box-shadow: 0 2px rgba(0,0,0,0.2);
	position: relative;
}
.qna-container .qna-answer {
	background-color: #5dced0;
}
.qna-question {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
	height: 100%;
}
.qna-container > div {
    background-color: #fff;
    min-height: 60px;
}

.qna {
    background-color: #f0efef;
	padding: 40px 0;
}
.qna .heading-container {
    margin-bottom: 60px;
}
.qna-container.show .qna-question {
    left: 110%;
    right: auto;
}
.qna-container + .qna-container {
    margin-top: 15px;
}
.qna-right p {
    line-height: 1.2;
	margin-bottom: 20px;
}
.qna .col-sm-6 {
	position:relative;
}
.qna-right::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 32px;
	background-image: url(../images/qna-separator.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.qna .col-sm-6 > div {
    padding-bottom: 60px;
}
.qna-right {
	padding-left: 30px;
}
.qna-left {
	padding-right: 30px;
}
.service-steps-content .col-md-3:last-of-type .steps-container::before {
	display: none;
}
.choose-us-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.advisor-container {
    padding: 45px 0;
    text-align: center;
}
.advisor {
	background-color: #53cbcb;
}
.advisor-text {
	font-size: 18px;
    color: #fff;
}
.advisor-header {
    padding: 60px 0;
}
.advisor-nav a {
    color: #fff;
    line-height: 29px;
}
.advisor-nav {
	padding-right: 50px;
}
.advisor-nav a:hover,
.advisor-nav a:focus {
	color: #d87e00;
}
.level-call {
    background-color: #53cbcb;
    width: 80px;
    height: 80px;
    border-radius: 100%;
	margin-left: auto;
	padding: 20px;
}
.level-content ul {
	margin-left: auto;
	position: relative;
}
.level-content ul::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	background-color: #c2c2c2;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	z-index: -1;
}
.level ul li {
    width: 110px;
    height: 110px;
    background-color: #f0f0f0;
    border-radius: 100%;
    border: 2px solid #e0e0e0;
	color: #c1c1c1;
	box-shadow: 0 8px 8px rgba(0,0,0,0.2);
}
.level ul li + li {
	margin-right: 50px;
}
.level ul li span + span {
    margin-top: 10px;
}
.level {
    padding: 30px 0;
	background-color: #fff;
	position: relative;
	z-index: 1;
}
.level ul li:first-child {
    background-color: #53cbcb;
    color: #fff;
}
.level ul li:nth-child(2) {
    background-image: url(../images/completed-image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
	font-size: 12px;
}
.level ul li:nth-child(2) span:last-child {
	color: #fff;
}
.message {
    padding: 0 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.1);
    padding-right: 20px;
    white-space: pre;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
.chat-container {
	position: relative;
}
.chat {
    background-color: #f0f0f0;
    padding: 110px 0;
}

.message-pic {
    position: absolute;
    width: 85px;
    height: 85px;
    top: -10px;
    right: -10px;
    transform: translate(50%, -50%);
    z-index: 9;
}
.chat-icon, .message-timing {
    align-self: flex-end;
}
.message-timing {
	font-size: 12px;
	color: #c2c2c2;
}
.message + .message {
    margin-top: 15px;
}
.message p {
    padding-left: 50px;
	line-height: 26px;
}
.chat-container .main-button {
    margin: 0 auto;
    margin-top: 30px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.chat-container + .chat-container {
	margin-top: 150px;
}
.main-button.grey {
    background-color: #e8e8e8;
    box-shadow: 0 2px rgba(0,0,0,0.2);
    color: #ababab;
}

.main-button.grey:hover {
    background-color: #dadada;
}
.no-background {
	background-color: transparent;
	box-shadow: none;
	padding: 0;
}
.chat-container form .main-button {
	margin: 0;
}
.placeholder-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
.chat-container form .form-group + button {
    margin-right: 40px;
}
.chat-buttons a + a {
    margin-right: 10px!important;
}
.chat-buttons {
    margin-bottom: 15px;
}
.bootstrap-select .filter-option {
	text-align: right!important;
}
.bootstrap-select.btn-group .btn .caret {
    position: absolute;
    top: 0;
    right: auto;
    margin-top: 0;
    vertical-align: middle;
    left: 0;
    background-color: #5dced0;
    width: 50px;
    height: 100%;
    background-image: url(../images/dropdown-icon.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
}
.bootstrap-select button {
    height: 48px;
    border: 1px solid #5dced0;
    font-size: 16px;
    color: #9c9c9c;
    padding-right: 15px!important;
}
.bootstrap-select .btn:focus,
.bootstrap-select .btn:hover,
.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover,
.btn-group.open .dropdown-toggle,
.open>.dropdown-toggle.btn-default {
	outline: none!important;
	box-shadow: none;
	border-color: #5dced0;
	background-color: #fff;
	color: #9c9c9c;
}
.bootstrap-select {
	outline: none!important;
}
.bootstrap-select.btn-group .dropdown-menu li a {
	color: #9c9c9c;
	font-size: 16px;
	text-align: right;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover,
.bootstrap-select.btn-group .dropdown-menu li a:focus,
.bootstrap-select.btn-group .dropdown-menu li.selected a,
.bootstrap-select.btn-group .dropdown-menu li.selected a:hover,
.bootstrap-select.btn-group .dropdown-menu li.selected a:focus {
	background-color: #5eced0;
	color: #fff;
}
.form-inline label {
    font-size: 16px;
    color: #9c9c9c;
    margin-left: 10px;
	width: 85px;
  vertical-align: middle;
}
.form-inline > * {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
}
.multiple-dropdown > div .form-group, form.multiple-dropdown > div > a {
    display: block;
}
.multiple-dropdown > div .form-group + .form-group, form.multiple-dropdown > div > a + a {
    margin-top: 30px;
}
.delete-button {
    height: 48px;
    background-color: #fff;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #5dced0;
    position: relative;
    line-height: 46px;
    margin-right: 70px!important;
	color: #9c9c9c;
	font-size: 20px;
}
.delete-button:hover {
	color: #9c9c9c;
}
.delete-button i {
    width: 55px;
    background-color: #5dced0;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: -50px;
    top: -1px;
}
.form-inline > * + * {
	margin-right: 20px;
}
.add {
    margin-top: 40px;
    margin-right: 50px!important;
}
.chat-buttons .main-button img {
    margin-left: 15px;
}
.average-savings > * {
    vertical-align: middle;
}
.average-savings span {
	font-size: 20px;
	color: #9c9c9c;
}
.chat-buttons .main-button {
    min-width: 110px;
}
input#browser-age {
    width: 135px;
    padding: 15px;
    text-align: center;
}
/* range slider */

.slider {
    min-width: 280px;
    height: 40px;
    background: #fff!important;
    border: 1px solid #5dced0;
	border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.ui-slider-handle {
    width: 60px!important;
    height: 60px!important;
    border: 4px solid #fff!important;
    border-radius: 100%;
    box-shadow: 0 0 0 1px #5dced0;
    background: #5dced0!important;
    top: -11px!important;
	cursor: pointer!important;
}
.ui-slider-handle:hover,
.ui-slider-handle:focus {
	box-shadow: 0 0 0 1px #5dced0!important;
}
.sliderValue {
    position: absolute;
    top: -25px;
    left: 50%;
    color: #a1a2a6;
    font-size: 17px;
    font-weight: normal;
    transform: translateX(-50%);
}
.ui-slider-handle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url(../images/range-arrows.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 34px;
    height: 17px;
    transform: translate(-50%, -50%);
}
.slider::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 94%;
    border-top: 10px dotted #5dced0;
    transform: translate(-50%, -50%);
}
.slider-icon {
    background-color: #5dced0;
    width: 95px;
    height: 95px;
    border-radius: 100%;
    text-align: center;
    position: absolute;
    left: 4px;
    top: -28px;
    transform: translateX(-100%);
    border: 8px solid #fff;
    box-shadow: 0 0 0 1px #5dced0;
    z-index: -1;
}
.form-inline.range-form label {
    width: auto;
}
.range-form .form-group {
	z-index: 1;
}
.range-group {
    margin-left: 60px;
	margin-right: 50px;
}
.range-form > * {
	vertical-align: middle;
}
.range-form {
    margin-top: 40px;
}
.range-group::before,
.range-group::after {
    content: "3";
    position: absolute;
    top: -10px;
    left: calc(100% - 10px);
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%, -50%);
    color: #a1a2a6;
    font-size: 17px;
}
.range-group::after {
	content: "36";
	left: 10px;
}
.double-chat-container > * {
    width: calc(50% - 40px);
    margin: 0;
}
.double-chat-container .chat-container + .chat-container {
	margin: 0!important;
}
.double-chat-container {
	margin-top: 120px;
	margin-bottom: 30px;
}
form.multiple-dropdown.chat-equity-cost > div .form-group {
	display: inline-block;
}
.chat-equity-cost > div >div + div {
    margin-top: 30px;
}
.chat-equity-cost + .chat-equity-cost {
    padding-right: 30px;
    padding-left: 0;
}

.chat-equity-cost {
    width: 50%;
    flex: 0 0 50%;
    padding-left: 30px;
    max-width: 50%;
}

.chat-equity-cost .main-button {
    min-width: 100px;
}
.alert-text {
	color: #f85151;
}
.range-group.monthly-refund::before {
	content: "Min";
}
.range-group.monthly-refund::after {
	content: "Max";
	left: 20px;
}
.range-group.lower-mortgage::before {
	content: "4";
}
.range-group.lower-mortgage::after {
	content: "30";
	left: 20px;
}
.advisor-header .logo-container {
    max-width: 160px;
	max-height: 120px;
}
input#monthly-refund-input {
    margin-right: 10px;
}
.alert-text.alert-monthly-refund {
    max-width: 340px;
    line-height: normal;
    font-size: 18px;
	margin-bottom: 15px;
}
.success-text {
    margin: 15px 0;
    color: #059928;
    font-size: 18px;
}
input#lower-mortgage-input {
    margin-right: 10px;
}
.imp-info-text {
    background-color: #5dc3c8;
    padding: 15px;
    border: 8px solid #5eced0;
    border-radius: 10px;
    position: relative;
}

.imp-info-text p {
    color: #fff;
}

.imp-info h4 {
    font-size: 30px;
    margin-right: 60px;
}
.question {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    background-color: #5eced0;
    border: 6px solid #fff;
    border-radius: 100%;
    transform: translate(60%, -60%);
    font-size: 50px;
    color: #fff;
}
.eligibility-dropdown .form-group {
    margin: 0;
}
.eligibility-text {
    width: 600px;
    flex: 0 0 600px;
}

.eligibility-dropdown {
    width: 300px;
    flex: 0 0 300px;
}
.eligibility-details li + li {
    margin-top: 5px;
}
.chat-wrap .chat-container:last-of-type {
    margin-bottom: 80px;
}
.chat-number {
    position: absolute;
    top: -80px;
    left: calc(100% + 20px);
    font-size: 46px;
    color: #5dc3c8;
}
/* new css */

.owl-stage {
    display: flex;
    flex-wrap: wrap;
}

.owl-stage .item {
    height: 100%;
}
.navbar-brand img {
	width: 100%;/* new css*/
}

/* custom check */
.custom-check {
  margin-top: 5px;
}
.custom-check input {
    display: inline-block;
    width: 14px;
    margin-right: 0px;
    vertical-align: middle;
    margin-top: 3px;
}
.custom-check label {
    display: inline-block;
    width: -webkit-calc(100% - 24px);
    width: calc(100% - 24px);
    vertical-align: middle;
    font-size: 13px!important;
    margin: 0;
    margin-right: 8px!important;
  color: #7d7d7d!important;
}
.custom-check label::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #60cecf;
  z-index: -1;
  border-radius: 2px;
}
.custom-check label::after {
  content: "";
  position: absolute;
  right: 5px;
    top: 1px;
    width: 5px;
    height: 11px;
    border: 0;
  z-index: -1;
  border-right: 2px solid #60cecf;
  border-bottom: 2px solid #60cecf;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
}
.custom-check input {
  position: relative;
  top: -2px;
  z-index: 2;
  opacity: 0;
  height: auto;
}
.custom-check input:checked + label::after {
  opacity: 1;
}
/* custom check */
#loginModal .modal-dialog {
  max-width: 410px;
  width: 100%;
  text-align: center;
}
.modal {
  direction: ltr;
}
.modal-header .close {
    margin-top: -2px;
    position: absolute;
    right: -50px;
    top: -50px;
    color: #fff;
    opacity: 1;
    font-size: 50px;
}
.modal-header {
    background-color: #60cecf;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 20px 15px;
}

.modal-header h4 {
    color: #fff;
}

.modal-content {
  border: 0;
  background-image: url(../images/login-modal-background.png);
    background-repeat: no-repeat;
    background-position: top center;
  background-size: cover;
}
.modal-dialog {
  margin: 50px auto;
}
.link-facebook {
    background-color: #526aa8;
    padding: 12px 15px;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    min-width: 100%;
    justify-content: flex-end;
    margin: 15px 0;
}
.link-facebook:hover,
.link-facebook:focus {
  color: #fff;
}
.link-facebook i {
    margin-right: 30px;
}
.login-modal-form {
    border: 1px solid #60cecf;
    border-radius: 4px;
    margin-top: 15px;
    padding: 30px;
    padding-top: 10px;
  background-color: rgba(255,255,255,0.7);
}
.login-modal-form label {
    color: #60cecf;
    text-align: right;
    display: block;
    font-size: 18px;
  margin: 0;
}

.login-modal-form form input.form-control:not([type="checkbox"]):not([type="radio"]), .login-modal-form textarea.form-control {
    width: 100%;
    max-width: 100%;
    border: 0;
    border-bottom: 1px solid #60cecf;
    border-radius: 0;
  padding: 0;
  direction: rtl;
  background-color: transparent;
}

.half {
    width: calc(50% - 8px);
    flex: 0 0 calc(50% - 8px);
}

.login-modal-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full {
    width: 100%;
    flex: 0 0 100%;
}
.login-modal-form h4 {
    margin-bottom: 40px;
}
.login-modal-form .main-button {
  margin: 0 auto;
}
.modal-footer {
    text-align: center;
    border: 0;
    padding-top: 0;
  color: #fff;
}
.login-modal-form input[type="checkbox"] {
    box-shadow: none;
}
.custom-check .form-group {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}
.modal-body {
  padding: 0;
}
.modal-body-inner {
  padding: 15px 35px;
}
.modal .nav-tabs {display: flex;justify-content: center;flex-wrap: wrap;border: 0;}

.modal .nav-tabs li.active a {
    background-color: #60cecf;
    color: #fff;
    margin: 0;
}

.modal .nav-tabs>li {
    margin: 0;
}

.modal .nav-tabs li a {
    border-radius: 0;
    border: 0;
    background-color: #fff;
    color: #60cecf;
  text-transform: capitalize;
  margin: 0;
}

.modal .nav-tabs li a:hover, .modal .nav-tabs li a:focus {
    border: 0;
}
/* main css ends here */
ul[class^="question"] li input:checked + label {
    background-color: #ddd!important;
}
ul[class^="question"] li {
  position: relative;
}
ul[class^="question"] li input[type="radio"] {
  position: absolute;
  left: 0;
  bottom: 0;
}
.fg-center {
  display: -webkit-inline-box!important;
  display: -webkit-inline-flex!important;
  display: -ms-inline-flexbox!important;
  display: inline-flex!important;
  -webkit-box-align: center!important;
  -webkit-align-items: center!important;
  -ms-flex-align: center!important;
          align-items: center!important;
}
.errMsg {
    margin-top: 10px;
    color: #ff0000;
}
#formQuestionFivePointOne ~ .form-group {
    margin:  0;
}

#formQuestionFivePointOne ~ span {
    margin: 0 15px;
}
.register-page .message p {
    font-size: 18px;
    white-space: pre;
}
.register-page span.chat-icon {
    left: 10px;
}
img.custom-arrow {
    position: relative;
    right: 30px;
    top: 3px;
}
.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.register-page .message + .message {
    margin-top: 30px;
    padding-top: 15px !important;
}

.register-page form input.form-control:not([type="checkbox"]):not([type="radio"]), .register-page textarea.form-control {
    max-width: 190px;
}
.register-page .form-inline > * + * {
    margin-right: 5px;
}

.no-pre{
  white-space: unset;
}

.chat-container .no-pre .main-button {
    margin-top: 0;
        margin-right: 40px;
        min-width: 210px;
}
/*-------190619--------*/

.testimonials-text p:last-of-type {
    text-align: right;
    position: relative;
    white-space: pre-line-line;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 70px;
  height: 70px;
  background-image: url('../images/range.png');
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #5dced0;
  background-size: 100%;
  background-position: center;
}
.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 60px;
  background-image: url('../images/range.png');
  cursor: pointer;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 0 0 1px #5dced0;
}

ul.nav-main {
    position: absolute;
    background: #53cbcb;
    z-index: 9999;
    padding: 10px 20px;
    border: 1px solid #fff;
    bottom: -90px;
  display: none;
}
.toggle_bar i.fa.fa-bars {
    color: #fff;
    font-size: 20px;
    position: relative;
  cursor: pointer;
}
ul.nav_reg {
    background: #fff;
    width: 70%;
    margin-right: 30px;
    border-radius: 10px;
    display: flex;
    white-space: pre-line-line;
    text-align: left;
}
ul.nav_reg  li{
    flex: 1;
}
ul.nav_reg li a {
    background: #a5e1e1;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 15px auto;
    box-shadow: inset 0px 1px 11px #02505073;
    padding: 10px;
    line-height: 22px;
    align-items: flex-start;
    padding-top: 32px;
}
.left-icon-h {
    background: #fff;
    margin-top: 58px;
}
.advisor-container {
    padding: 28px 0;
}
/*-------190619--------*/